body,html{
    height: 100%;
}

*{
    padding: 0;
    margin: 0;
}
.books-container{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    grid-auto-rows: 250px;
    gap: 16px;
    background-color: antiquewhite;
}

.card{
    background-color: rgb(190, 172, 207);
    display: grid;
    grid-template-rows: 4fr 1fr;
    gap: 8px;
}

.book{
    background-color: aquamarine;
    display: grid;
    grid-template: 4fr 1fr/1fr;
    gap:8px;
}

.title-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(199, 199, 220);
}

.book .title{
    text-align: center;
    background-color:rgb(182, 219, 176);
    -webkit-line-clamp: 4;  
    display: -webkit-box;
    -webkit-box-orient: vertical;
    overflow: hidden;
    -webkit-user-drag: 100%;
    text-overflow: ellipsis;
    font-size: clamp(0.9rem,2vw,2rem) ;
}

.book .author{
    background-color:rgb(163, 194, 158); 
    justify-self: end;
    display: flex;
    align-items: end;
}

.book-meta{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
}

.pages{
    background-color: rgb(193, 166, 166);
    display: flex;
    align-items: center;
    justify-content: center;
}

.book-icon  {
    height: 20px;
    width: 20px;
}

.read-state{
    height: 20px;
    width: 20px;
    background-color: rgb(214, 179, 179);  
}